extends layout

block content
  h1 Time converter API 
  h2 Usage:
  p  Add date parameter to url e.g.
  p /21 Dec, 2010
  p A json object will be returned containing unixTime & natural properties:
  p {"unixTime": 1450656000,"natural": "Monday 1st December 2015"}
  
